includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/phpstan/phpstan-mockery/extension.neon

parameters:
    level: 5
    paths:
        - app
        - Modules
        - Shared
        - tests
    excludePaths:
        - tests/PHPStan/*
    bootstrapFiles:
        - tests/PHPStan/aliased-types.stub.php
    ignoreErrors:
        -
            message: '#will always evaluate to false#'
            paths:
                - Modules/PlatformSettings/Tests/PlatformOperationsHttpAdapterTest.php
                - Modules/PlatformSettings/Tests/TechnicalLogDeferralTest.php
